@import '../../../../assets/styles/helpers';

:host {
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 10;
}

.nav {
    @include glass(0.75);
    min-width: 150px;
    min-height: 100px;
    border-radius: 10px;

    &__menu {
        @include ul-reset();
    }

    &__menu-item {
        padding: 10px;
        cursor: pointer;

        &:hover {
        }
    }

    &__menu-link {
        color: $color_text;
        text-decoration: none;
        &--active {
        }
    }
}
