@mixin ul-reset {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin btn-reset {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
}

@mixin scrollbar {
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-thumb {
        background: $color_grey5;
        border-radius: 4px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    // For Internet Explorer
    body {
        scrollbar-face-color: $color_grey5;
        scrollbar-track-color: transparent;
    }
}

@mixin container {
    max-width: 1000px;
    margin: 0 auto;
}

@mixin glass($opacity) {
    background: rgba(255, 255, 255, $opacity);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
